body{
    font-family: 'Courier New', Courier, monospace;
        text-align: center;
        
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}
.headerLogo{
    font-size: 24px;
    color: #f9faf8;
}
ul{
    list-style-type:none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.main1{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}
.leftText{
    text-align: left;
    flex: 1;
}
.titleAwesome{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.textComment{
    color: #f9faf8;
}
.photo{
    border: 2px solid #3882f6;
    border-radius: 5px;
    flex: 1;
}
.main2{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.title{
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    margin: 32px;
}
.img{
    border: 2px solid #3882f6;
    border-radius: 5px;
    min-width: 200px;
    min-height: 200px;
}
.info{
    max-width: 200px;
}
.main3{
    background-color: #e5e7eb;
    padding-left: 150px;
    padding-right: 150px;
}
.text{
    padding: 100px;
}
.quote, .signature{
    
    font-style: italic;
    color: #1f2937;
}
.quote{
    font-size: 36px;
    text-align: left;
}
.signature{
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}
.main4{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.modal{
    display: flex;
    padding: 100px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.textModal{
    text-align: left;
}
.callAction{
    font-weight: bold;
    font-size: 24px;
}
.signUp2, .signUp1{
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}
.footer{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    padding-left: 150px;
    padding-right: 150px;}